<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>749514801199-sd6g5rb2h7057479hokohkvgs0g326sl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.749514801199-sd6g5rb2h7057479hokohkvgs0g326sl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>749514801199-4o25jv6cbr2d1chtb1rloa9a26euudnt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC_bEtVfP5KCuCllE4To3wd8faJjf0kaTg</string>
	<key>GCM_SENDER_ID</key>
	<string>749514801199</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zinact.firebase-V6</string>
	<key>PROJECT_ID</key>
	<string>fir-v6-a74c0</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-v6-a74c0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:749514801199:ios:85d6600fbb1f4e761cc6da</string>
	<key>DATABASE_URL</key>
	<string>https://fir-v6-a74c0.firebaseio.com</string>
</dict>
</plist>